/* Large */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #18181b;
    color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
    padding: 40px;
}

/* Main Layout */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    margin-bottom: 40px;
    padding: 10px;
    gap: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


main {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 48px;
}



/* Header */

.main-header {
    display: flex;
    gap: 6px;
    align-items: center;
}

.logo {
    width: 120px;
    height: 120px;
    padding: 10px;
}

h1 {
    font-family: 'Anton', san-serif;
    font-size: 42px;
    text-transform: uppercase;
 
}

/* Takes */
.hot-take {
    background-color: #3f3f46;
    padding: 18px 32px;
    border: 10px;
    border-radius: 20px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hot-take:hover {
    background-color: #52525b;
    border-radius: 10px;

    transition: 0.4s;

}

.hot-take-content {
    display: flex;

    justify-content: space-between;
    gap: 8px;
}

.tag {
    background-color: red;
    padding: 5px 10px;
    border: 10px;
    border-radius: 40px;

    font-weight: 900;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

/* All Buttons */
.btn {
    border: none;
    background-color: salmon;
    color: inherit;
    font-family: inherit;
    font-size: 17px;
    font-weight: 700;
    word-spacing: 6px;
    letter-spacing: 1px;

    padding: 16px 0px 13px;
    line-height: 1;
    border-radius: 100px;
    cursor: pointer;
}


.btn:hover {
    transform: scale(120%);
    transition: 0.3s;
}

.btn:active {
    transform: scale(110%);
    transition: 0.3s;
}

.btn-large {
    font-size: 20px;
    letter-spacing: 0px;
    padding: 20px 28px 17px;
    margin-left: 10px;

    background-image: linear-gradient(
        130deg,
        blue,
        red
    );
}

.btn-all-categories {
    margin-bottom: 20px;
    width: 100%;
    background-image: linear-gradient(
        130deg,
        blue,
        red
    );
}

.btn-category {
    background-image: none;
    border-style: none;
    width: 100%;
    margin: 8px 0px;

    text-transform: uppercase;
}



